body {
    font-size: 12px;
    line-height: 1.7em;
    width: 670px;
}

form {
    font-size: 14px;
}

p.success {
    background: #c1ffc1 none repeat scroll 0 0;
    color: #200;
    padding: 2px;
    border: 1px solid #32cd32;
    margin-top: 10px;
}

p.error {
    background: #fcc none repeat scroll 0 0;
    color: #200;
    padding: 2px;
    border: 1px solid #d77;
}

legend a, legend a:hover, legend a:focus {
    color: #111;
    text-decoration: none;
    margin-left: 30px;
}

legend img {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 40px;
}

legend {
    border-radius: 15px 15px 0 0;
    background-color: #dedede;
    margin: 20px 0 0 0;
}

.fieldset-wrapper {
    padding: 5px;
    background-color: #f5f5f5;
}

.fieldset-wrapper.terms {
    margin-top: 20px;
    background-color: #ffffff;
}

/* legend collapse icon */
/*fieldset.collapsible legend a {*/
    /*!*background: rgba(0, 0, 0, 0) url("/municipality/images/menu-expanded.png") no-repeat scroll 5px 75%;*!*/
    /*margin-left: 20px;*/
/*}*/

/*fieldset.collapsed legend a {*/
    /*!*background-image: url("/municipality/images/menu-collapsed.png");*!*/
    /*!*background-position: 5px 50%;*!*/
/*}*/

/*fieldset.collapsed {*/
    /*border-bottom-width: 0;*/
    /*border-left-width: 0;*/
    /*border-right-width: 0;*/
    /*height: 1em;*/
    /*margin-bottom: 0;*/
/*}*/

form.variation-chooser input, ul.secondary {
    border: 1px solid #ccc;
}

/* start of secondary fieldset (languages) */
fieldset fieldset {
    margin: 0 15px;
    padding: 15px;
    border: 1px solid gray;
}

fieldset fieldset legend {
    border: none;
    width: auto;
    margin-bottom: -3px;
    padding: 0 5px;
    border-radius: 10px 10px 0 0;
    border: 1px solid gray;
    margin-top: 0;
}
/* end of secondary fieldset */

.form-item label {
    display: block;
    font-weight: bold;
}

/* radio buttons labels */
.form-item label.option {
    display: inline;
    font-weight: normal;
}

.marker, .form-required {
    color: #f00;
}

.form-item .description {
    border: 0 solid #ccc;
    clear: left;
    text-align: left;
}

.form-item .description {
    font-size: 0.85em;
}

input, textarea {
    padding: 2px;
}

input, textarea {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #555;
}

.form-radios .form-item {
    display:inline;
    margin: 10px;
}

.form-item {
    margin-bottom: 1em;
    margin-top: 1em;
}

.container-inline-date .form-item .form-item {
    float: left;
    margin: 0;
    padding: 0;
}

.container-inline-date .form-item, .container-inline-date .form-item input {
    width: auto;
}

select, input[type='text'], input[type='email'] {
    width: 50%;
}

input:focus, textarea:focus {
    border-color: gray;
}

.clear-language {
    margin-left: 35px;
}

/* start of textarea css */
.resizable-textarea {
    width: 95%;
}

.resizable-textarea textarea {
    display: block;
    margin-bottom: 0;
    width: 100%;
}
/* end of textarea css */

/* textarea grippie css */
.resizable-textarea .grippie {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #eee url("/municipality/images/grippie.png") no-repeat scroll center 2px;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
}

a.intlink {
    color: #2c68a3 !important;
    text-decoration: none;
}

/* start of send button css */
.readon .button {
    background: rgba(0, 0, 0, 0) url("/municipality/images/readon-l.png") no-repeat scroll 0 0;
}

.readon:hover .button {
    background-position: 0 -32px;
}

.readon span, .readon .button {
    border: 0 none;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: normal;
    height: 24px;
    line-height: 23px;
    margin-left: -10px;
    overflow: visible;
    padding: 0 12px 3px;
}

.readon .button {
    outline: medium none !important;
}

.readon {
    background: rgba(0, 0, 0, 0) url("/municipality/images/readon-r.png") no-repeat scroll 100% 0;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
    height: 24px;
    margin-left: 10px;
}

.readon:hover {
    background-position: 100% -32px;
}
/* end of send button css */

/* start of bootstrap omitting */
legend {
    /*border: none;*/
    /*color: inherit;*/
    /*display: block;*/
    /*font-size: inherit;*/
    /*line-height: inherit;*/
    /*margin-bottom: 0;*/
    /*margin-top: -15px;*/
    /*padding: 15px 15px 0;*/
    /*width: auto;*/
    border-bottom: 1px solid gray;
    font-size: 16px;
    padding: 16px 0 16px 25px;
    position: relative;
    width: 100%;
}
/* end of bootstrap omitting */

/* start of bootstrap customization */
.close {
    font-size: 47px;
}

.modal-content {
    border-radius: 0;
}
/* end of bootstrap customization */
